@model FoodSpot.Web.ViewModels.Recipes.RecipeListViewModel

@{
    this.ViewData["Title"] = "Result";
}

@if (!Model.Recipes.Any())
{
    <div class="display-4 text-center">Nothing found.</div>
}
else
{
    <div class="display-4 text-center mb-3">@Model.TotalRecipes @(Model.TotalRecipes == 1 ? "recipe" : "recipes") found</div>
    <hr />
    <div id="recipes" class="row text-center">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/images/@recipe.Image"
                         asp-append-version="true" alt="@recipe.Name">
                    <div class="card-body">
                        <h4 class="card-title">
                            <img src="~/images/@recipe.CategoryImage" style="width:30px; height:auto" /> @recipe.Name
                        </h4>
                        <p class="card-text">@recipe.Instructions</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-lg" asp-controller="Recipes" asp-action="Recipe" asp-route-id="@recipe.Id">See more</a>
                    </div>
                </div>
            </div>
        }
    </div>
    
    @if (Model.TotalParts >= 2)
    {
        <div class="row justify-content-center mt-3">
            <button id="loadBtn" class="btn btn-primary btn-lg">Show more</button>
        </div>   
    }
}

@section Scripts {
    <script>
        var part = 2;
        var jsString = '@Html.Raw(this.Context.Request.Query["Ingredients"].ToString())';
        var jsArray = jsString.split(',');
        $("button").click(function () {
            $.ajax({
                type: "GET",
                url: "/Recipes/LoadMore",
                data: { value: part, ingredients: jsArray },
                traditional: true,
                contentType: "application/json",
                success: function (response) {
                    $("#recipes").append(response);
                    if (@Model.TotalParts == part) {
                        $("#loadBtn").prop('disabled', true);
                    }

                    part++;
                }
            });
        });
    </script>
}